
#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background: black;
}
.section{
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	
}
.content{
	text-align: justify;
  	text-justify: inter-word;
}

.fp-tooltip{
	color: black!important;
}
#wordcloud_div{
	text-align: center;
}

#wordcloud_img{
	width: 600px;
	height: 400px;
}
#displayrun, #wordcloud{
	width: 40% !important;
}

.img-tool{
	box-shadow: 5px 5px 15px 5px rgb(0, 0, 0,0.1);
	width: 80%;
}